add back authz functionality

mainly affects the toProto methods in Device.

token validation should follow [RFC 9068](https://datatracker.ietf.org/doc/rfc9068/), relevant section copy/pasted here:

Resource servers receiving a JWT access token MUST validate it in the
   following manner.

   *  The resource server MUST verify that the "typ" header value is
      "at+jwt" or "application/at+jwt" and reject tokens carrying any
      other value.

   *  If the JWT access token is encrypted, decrypt it using the keys
      and algorithms that the resource server specified during
      registration.  If encryption was negotiated with the authorization
      server at registration time and the incoming JWT access token is
      not encrypted, the resource server SHOULD reject it.

   *  The issuer identifier for the authorization server (which is
      typically obtained during discovery) MUST exactly match the value
      of the "iss" claim.

   *  The resource server MUST validate that the "aud" claim contains a
      resource indicator value corresponding to an identifier the
      resource server expects for itself.  The JWT access token MUST be
      rejected if "aud" does not contain a resource indicator of the
      current resource server as a valid audience.

   *  The resource server MUST validate the signature of all incoming
      JWT access tokens according to [RFC7515] using the algorithm
      specified in the JWT "alg" Header Parameter.  The resource server
      MUST reject any JWT in which the value of "alg" is "none".  The
      resource server MUST use the keys provided by the authorization
      server.

   *  The current time MUST be before the time represented by the "exp"
      claim.  Implementers MAY provide for some small leeway, usually no
      more than a few minutes, to account for clock skew.

   The resource server MUST handle errors as described in Section 3.1 of
   [RFC6750].  In particular, in case of any failure in the validation
   checks listed above, the authorization server response MUST include
   the error code "invalid_token".  Please note that this requirement
   does not prevent JWT access tokens from using authentication schemes
   other than "Bearer".

